# IntelliJ
.idea
.*iml

# Lein
.lein*
lib
target

# Vim
.*.swp
.*.swo

# Project runtime files
save/*

# Intermediate data
frames/*
*.log
log/*

# Build data
jvms/

# Fonts and font-config
fonts/*.ttf
config/fonts/*.ttf.edn

