<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>universalJavaApplicationStub</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon.icns</string>
  <key>CFBundleGetInfoString</key>
  <string>Robinson 1.1.0</string>
  <key>CFBundleIdentifier</key>
  <string>com.aaronsantos.robinson</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>7.0</string>
  <key>CFBundleName</key>
  <string>Robinson 1.1.0</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.1.0</string>
  <key>JavaX</key>
  <dict>
    <key>WorkingDirectory</key>
    <string>$APP_PACKAGE/Contents/MacOS</string>
    <key>ClassPath</key>
    <string> robinson.jar</string>
    <key>MainClass</key>
    <string>robinson.autoreloadcore</string>
    <key>StartOnMainThread</key>
    <string>true</string>
  </dict>
  <key>LSEnvironment</key>
  <dict>
    <key>JAVA_HOME</key>
    <string>Contents/Java</string>
  </dict>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
