;; Settings
{
 :name "Pastiche 8"
 :type "cp437"
 :linux-font   "http://dwarffortresswiki.org/images/b/be/Pastiche_8x8.png"
 :macosx-font  "fonts/Boxy/Boxy.ttf"
 :windows-font "fonts/Boxy/Boxy.ttf"
 :font-size    16
 :transparent  true
}
