;; Settings
{
 ;; Use DejaVu Sans Mono font
 :name "Deja Vu 12"
 :windows-font "fonts/dejavu-fonts-ttf-2.35/ttf/DejaVuSansMono.ttf"
 :else-font    "fonts/dejavu-fonts-ttf-2.35/ttf/DejaVuSansMono.ttf"
 :font-size    12
 :antialias    true
}
